
html, body {
	background-color: whitesmoke
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
    margin-bottom: 10px;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

#header {
	grid-column: 1 / span 3;
	font-size: 30px;
	font-family: Helvetica, sans-serif;
}
button {
	background-color: whitesmoke;
	font-size: 70px;
	border: none;
	cursor: pointer;
	outline: none;
	margin: auto;
	padding: 20px
}
/* .col4 {
    grid-column: 4;

}

.col5 {
    grid-column: 5;
}

.col6 {
    grid-column: 6;
}
.col7 {
    grid-column: 7;
} */
i {
    font-size: 50px;
}
#score {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    padding-bottom: 10px;
    padding-top: 0px;
}
#status {
	padding: 10px;
	font-size: 25px;
	font-family: Helvetica, sans-serif;

}

.no-gap {
    grid-gap: 0;
}

.no-gutter {
    grid-column-gap: 0;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 768px) {
    .col1, .col2, .col3 {
        grid-column: 1 / span 3;
    }
}